.biopic{
    width: 25%;
    margin: 0 25px 15px 0;
    float: left;
    height: auto;
    border: 3px double black;
}
@media screen and (max-width: 860px){
    .biopic{
        width: 50%
    }
}
@media screen and (max-width: 500px){
    .biopic{
        width: 100%;
    }
    main{
        margin: auto 0;
    }
}