html, body{
    height: 100%;
}
body{
    grid-template-rows: auto auto;
}
.container{
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-areas: 
    'a a a a a a'
    'b b c c d d'
    '. e e f f .';
}
.circle{
    border-radius: 100%;
    transition: filter .25s linear;
}
img{
    max-width: 300px;
    height: auto;
}
.abt{
    grid-area: a;
    margin: auto;
}
.med{
    grid-area: b;
}
.nme{
    grid-area: c;
    line-height: 1.2;
    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;
}
.kc{
    font-family: future;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: -13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lgo{
    grid-area: d;
}
.pco{
    grid-area: e;
    margin-right: 0;
}
.art{
    grid-area: f;
    margin-left: 0;
}
.y{
    grid-area: y;
}
.z{
    grid-area: z;
}
.flickr{
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
}
.youtube{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%;
}
.insta{
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
}
.linked{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
}
.link{
    position: relative;
    border-radius: 100%;
    padding: 0;
    height: 300px;
}
.link-label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    line-height: 300px;
    text-align: center;
    opacity: 0;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 25px;
    z-index: 3;
    transition: opacity .25s ease-in-out;
}
.link-label:hover{
    opacity: 1;
}
.link-label:hover ~ .circle {
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
}
footer{
    font-size: 12px;
}
footer:before{
    border: none;
}
.sm-link:hover{
    filter: invert(20%)
}