.slideshow{
    text-align: center;
    width: 40%;
    float: left;
    border: 3px double black;
    box-sizing: border-box;
    margin: 0 25px 15px 0;
}

@media screen and (max-width: 860px){
    .slideshow{
        max-width: 100%;
        width: 50%
    }
}
@media screen and (max-width: 500px){
    .slideshow{
        width: 100%;
        margin: auto;
    }
    main{
        margin: auto 0;
    }
}