.slideshow{
    text-align: center;
    width: 50%;
    float: left;
}

@media screen and (max-width: 860px){
    .slideshow{
        max-width: 100%;
        width: 50%
    }
}
@media screen and (max-width: 500px){
    .slideshow{
        width: 100%;
        margin: auto;
    }
    main{
        margin: auto 0;
    }
}