.walk-it-off{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    justify-items: center;
}
.band-pic{
    width: 100%;
    height: auto;
    margin-right: 25px;
    border: 3px double black;
}