@font-face{
    font-family: android;
    src: url(../fonts/Android\ 101.ttf);
}
@font-face{
    font-family: future;
    src: url(../fonts/FUTRFW.TTF);
}
@font-face{
    font-family: vinegar;
    src: url(../fonts/Vinegar-Regular.otf);
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header{
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 40% auto;
    border: 1px solid blue;
    box-sizing: border-box;
}
.casey{
    font-family: vinegar;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 65px;
    padding: 0;
    margin: 0 50px 0 0 ;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .25s ease-in-out;

}
.title-link{
    text-decoration: none;
    color: black
}
.casey:hover{
    transform: scale(1.1);
}
.links{
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
}
.nav-img{
    width: 100%;
    height: auto;
    transition: border-radius .5s cubic-bezier(0, 1, 0.5, 1);
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 150px;   
    width: 100%;
    height: 150px;
}
.subtitle{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: vinegar;
    color: black;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    width: 150px;
    position: absolute;
    z-index: 2;
    height: 0px;
    bottom: 0px;
    text-align: center;
    font-size: 25px;
    line-height: 1;
    transition: height .5s .2s cubic-bezier(0, 1, 0.5, 1);
}
.solid{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    transition: height .5s .2s cubic-bezier(0, 1, 0.5, 1);
    background-color: white;
}
.solid-hover{
    height: 150px;
}
.solid-off{
    height: 0;
}
.img-hover{
    border-radius: 0;
}
.img-off{
    border-radius: 100%;
}
.text-hover{
    height: 87px;
}
.text-off{
    height: 0;
}
.active{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
footer:before {
    content: ""; 
    display: block; 
    margin: 0 auto 20px auto; 
    width: 25%;
    border-bottom: 3px double black;
}
footer{
    text-align: center;
    position: relative;
}
.footer-links img{
    width: 50px;
    height: auto;
    transition: all .25s linear;
}
.footer-links img:hover{
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}
.footer-links a{
    font-size: 0;
}
.footer-links a:hover{
    font-size: 15px;
}
.footer-links span{
    position: absolute;
    top: 5px;
    right: 50%;
    transform: translateX(50%);
    transition: font-size .05s linear;
    color: black;
}
.bottom{
    font-size: 12px;
}
@media screen and (max-width: 1000px) {
    header{
        grid-template-columns: 30% auto;
    }
}
@media screen and (max-width: 860px){
    header{
        grid-template-columns: auto;
    }
}