@font-face{
    font-family: geosanslight;
    src: url(../fonts/GeosansLight.ttf);
}
@font-face{
    font-family: future;
    src: url(../fonts/FUTRFW.TTF);
}
@font-face{
    font-family: vinegar;
    src: url(../fonts/Vinegar-Regular.otf);
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
main{
    position: relative;
    display: grid;
    margin: 0;
    overflow: hidden;
}

header{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 40% auto;
    box-sizing: border-box;
}
p{
    font-size: 25px;
    line-height: 1.5;
    padding-bottom: 1rem;
    font-family: geosanslight;
    text-align: left;
}
sup { 
    vertical-align: super;
    font-size: smaller;
    
  }
sup a{
    text-decoration: none;
}
sup a:hover{
    text-decoration: underline;
}
p a{
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}
.casey{
    font-family: future;
    font-size: 60px;
    letter-spacing: -13px;
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0 50px 0 0 ;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .25s ease-in-out;

}
h2{
    margin: 15px 0 25px 0;
    font-family: vinegar;
    font-size: 45px;
    text-decoration: underline overline;
    text-underline-position: under;
    line-height: 1;
}
.title-link{
    text-decoration: none;
    color: black;
}
.casey:hover{
    transform: scale(1.05);
}
.links{
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
}
.nav-img{
    width: 100%;
    height: auto;
    max-width: 150px;
    transition: border-radius .5s cubic-bezier(0, 1, 0.5, 1);
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 150px;   
    width: 100%;
    height: 150px;
}
.subtitle{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: vinegar;
    color: black;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 0px;
    bottom: 0px;
    text-align: center;
    font-size: 25px;
    line-height: 1;
    transition: height .5s .2s cubic-bezier(0, 1, 0.5, 1);
}
.solid{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    transition: height .5s .2s cubic-bezier(0, 1, 0.5, 1);
    background-color: white;
}
.solid-hover{
    height: 150px;
}
.solid-off{
    height: 0;
}
.img-hover{
    border-radius: 0;
}
.img-off{
    border-radius: 100%;
}
.text-hover{
    height: 87px;
}
.text-off{
    height: 0;
}
.active{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.content{
    position: relative;
    padding: 0 10%;
    max-width: 1200px;
    margin: auto;
}
footer:before {
    content: ""; 
    display: block; 
    margin: 0 auto 20px auto; 
    width: 25%;
    border-bottom: 3px double black;
}
footer{
    text-align: center;
    position: relative;
    margin-top: 25px;
    overflow: hidden;
    height: 90px;
}
.footer-links img{
    width: 50px;
    height: auto;
    transition: all .25s linear;
}
.footer-links img:hover{
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}
.footer-links a{
    font-size: 0;
}
.footer-links a:hover{
    font-size: 15px;
}
.footer-links span{
    font-family: geosanslight;
    position: absolute;
    top: 5px;
    right: 50%;
    transform: translateX(50%);
    transition: font-size .05s linear;
    color: black;
}
.bottom{
    font-size: 12px;
    position: relative;
    bottom: 1px;
}
.triangles{
    z-index: -1;
    position: absolute;
    width: 100%;
    margin: 0;
    height: 100%;
}
.triangle{
    z-index: 3;
    width: 50px;
    height: auto;
    /* filter: brightness(0); */
}
.tl{
    position: absolute;
    top: 0;
    left: 0;
}
.bl{
    position: absolute;
    bottom: 0;
    left: 0;
}
.tr{
    position: absolute;
    top: 0;
    right: 0;
}
.br{
    position: absolute;
    bottom: 0;
    right: 0;
}
.slideshow{
    box-sizing: border-box;
    margin: auto;
    width: auto;
    height: 100%;
    max-width: 500px;
    max-height: 313px;
}
.lego-slideshow{
    background-image: url(../images/positive.png);
    text-align: center;
    float: left;
    width: 506px;
    height: 319px;
    border: 3px double black;
    box-sizing: border-box;
    margin: 0 25px 25px 0;
}
.about-pic{
    width: 35%;
    margin: 0 25px 15px 0;
    float: left;
    height: auto;
    border: 3px double black;
    box-sizing: border-box;
}
.walk-it-off{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    justify-items: center;
}
.band-pic{
    width: 100%;
    height: auto;
    margin-right: 25px;
    border: 3px double black;
}
.logo{
    max-width: 350px;
    float: left;
    margin: 0 25px 15px 0;
    border: 3px double black;
    box-sizing: border-box;
}
.youtube-embeds{
    clear: both;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 25px;
}
.yt-iframe{
    width: 100%;
    height: 250px;
}

@media screen and (max-width: 1000px) {
    header{
        grid-template-columns: 30% auto;
    }
    main{
        margin: 0 5%;
    }
}
@media screen and (max-width: 860px){
    header{
        grid-template-columns: auto;
    }
    h2{
        text-align: center;
    }
    
    .lego-slideshow{
        width: 100%;
        margin: auto;
    }
    .about-pic{
        width: 50%
    }
    .logo{
        max-width: 100%;
        width: 50%
    }
    .bio{
        margin-top: 25px;
    }
    .youtube-embeds{
        display: block;
        text-align: center;
    }
    .yt-iframe{
        max-width: 500px;
        height: 0;
        transition: height .5s ease-in-out;
    }
    main{
        margin: auto 0;
    }
}
@media screen and (max-width: 500px){
    p{
        text-align: center;
    }
    .lego-slideshow{
        max-width: 100%;
    }
    .slideshow{
        max-width: 100%;
        max-height: 100%;
    }
    .about-pic{
        width: 100%;
    }
    .logo{
        width: 100%;
        margin: auto;
    }
    .content{
        padding: 0;
    }
}
.spin{
    animation: spin 1500ms forwards;
    -webkit-animation: spin 1500ms forwards;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
@keyframes spin {
    0% {
        transform:rotate(0deg) scale(1.0);
        -webkit-transform:rotate(0deg) scale(1.0);
        border-radius: 0;
    }
    40%{
      
    }
    50%{
      border-radius: 50%;
      transform: rotate(720deg) scale(1.2);
      -webkit-transform: rotate(720deg) scale(1.2);
    }
    60%{
      
    }
    100% {
        transform:rotate(1440deg) scale(1.0);
        -webkit-transform: rotate(1440deg) scale(1.0);
        border-radius: 0;
    }
}
.rollOut {
    animation: rollOut 0.5s forwards;
    -webkit-animation: rollOut 0.5s forwards;
}
@-webkit-keyframes rollOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(50%, 0, 0) rotate3d(0, 0, 1, 120deg);
      transform: translate3d(50%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
  }
  
  @keyframes rollOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
  }
 